body{
     background-color: black;
     font-family: arial;
     font-size: 2.3vh;
}

h1{
     color: grey;
     font-family: verdana;
     font-size: 5vh;
     margin: 2vh;
     padding: 1vh;
}

.maindiv{
     background-color: white;
     color: black;
     box-sizing: border-box;
     margin: 5vh 10vw;
     padding: 5vh;
     border-radius: 3vh;
}

.field{
     margin: 2vh;
     padding: 1vh;
     min-height: 0px;
}

.label{
     display: inline-block;
     position: relative;
     left: 19vw;
     min-width: 10vw;
     min-height: 0px;
}

.box{
     display: inline-block;
     position: relative;
     left: 19vw;
}

#rate{
     -webkit-appearance: none;  
     appearance: none;
     height: 8px;
     background: #d3d3d3; 
     outline: none;
     opacity: 0.8;
     -webkit-transition: .3s; 
     transition: opacity .3s; 
     border-radius: 4px;
}

#rate:hover {
     opacity: 1; 
}

#rate::-webkit-slider-thumb{
     -webkit-appearance: none; 
     appearance: none;
     width: 16px; 
     height: 16px; 
     background: #1262db; 
     cursor: pointer; 
     border-radius: 50%;
}

#result{
     position: relative;
     left: 20.5vw;
}

mark{
     background-color: #f9fd0d;
}

footer{
     margin: 2vh;
     padding: 1vh;
}